<div class="top">
  <h1>Tyrannosaurus Flex</h1>
</div>

<div class="main">
  <h1>Build, Complete, and Track your Workouts</h1>
  <a href="/signup">Sign Up Today</a>
  <form action="/user" method="post">
    <input type="text" name="email" placeholder="Enter Your Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Hit the weights, Bro!">
  </form>
</div>
