<div class="main">
  <h1 id="tagline">Build! Complete! and Track your Workouts</h1>
  <div id="formbox">  
    <a href="/signup" id="register">Sign Up!</a>
    <h3 id="below">or login below</h3>
    <form id="login" action="/user" method="post">
      <input class="inputs" type="text" name="email" placeholder="Email">
      <input class="inputs" type="password" name="password" placeholder="Password">
      <input id="button" type="submit" value="Hit the weights, Bro!">
    </form>
  </div>
</div>
