<div class="main">
  <div class="signup">
    <form id="signup" action="/create_user" method="post">
      <input type="text" name="user[name]" placeholder="name">
      <input type="text" name="user[email]" placeholder="email">
      <label for="height">Height in Feet and Inches</label>
      <input type="number" name="user[height_feet]">
      <input type="number" name="user[height_feet]">
      <input type="number" name="user[weight]" placeholder="weight">
      <label for="goal">What is Your Primary Goal</label>
      <div class="option">  
        <label for="height">Lose Weight</label>
        <input type="radio" name="goal" value="Lose Weight">
      </div>
      <div class="option">
        <label for="height">Get Stronger</label>
        <input type="radio" name="goal" value="Get Stronger">
      </div>
      <div class="option">  
        <label for="height">Build Muscle</label>
        <input type="radio" name="goal" value="Build Muscle">
      </div>
      <div class="option">  
        <label for="height">Get Healthier</label>
        <input type="radio" name="goal" value="Get Healthier">
      </div>
      <input type="password" name="user[password]" placeholder="Create a password">
      <input type="submit" value="Won't you join us??"><br>
    </form>
  </div>
</body>
